.body{
    padding: 10px 200px;
}

.body > h1 {
    margin: 20px 0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.body_catogories_containers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}